.photos-title-row {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  background-color: white;
  text-align: center;
  border-bottom: 1px solid rgb(210,214,218);
  margin-bottom: 2em;
  position: sticky;
  z-index: 3;
  top: calc(1em + 65px);
}

.photos-gallery-container {
  text-align: center;
}

.photos-filters-container {
  position: sticky;
  z-index: 2;
  top: calc(1em + 65px + 90px);
  height: fit-content;
  padding: 1em 0;
}

.photos-filters-container button{
    width: 80%;
    height: 30px;
    margin: 1px
}
