# =============== PyCharm ==============

__pycache__/
.DS_Store
.idea/
.venv/
**/__pycache__
*.pyc
**/db.sqlite3
db.sqlite3

media/*

# ========== Visual Studio Code ========
.vscode/

venv
*.orig
*/migrations
# ================= Node ===============

# dependencies
static.node_modules

# testing
static.coverage

# production
static.build

# misc
static.DS_Store
static.env.local
static.env.development.local
static.env.test.local
static.env.production.local

static.npm-debug.log*
static.yarn-debug.log*
static.yarn-error.log*

static.package-lock.json
static.yarn.lock