.user-dashboard-row {
  background-color: white;
  box-shadow: #ddd 3px 5px 10px;
  margin-bottom: 1.5em;
}

.user-dashboard-row > div:first-child{
  padding: 0 30px;
}

.user-dashboard-title {
  font-size: 1.6em;
  font-weight: bold;
  padding: 0.5em 0;
  display: inline-block;
}

.user-dashboard-title > svg {
  color: rgb(255, 90, 96);
}

.user-dashboard-see-all{
  position: absolute;
  font-weight: bold;
  right: 30px;
  top: 1.2rem;
}