.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.white-box {
  background-color: white;
  box-shadow: #ddd 3px 5px 10px;
  margin-bottom: 1.5em;
}