.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* User not available */

.userNotAvailable {
  min-height: 75vh;
  text-align: center;
}

.userNotAvailable.container{
  padding-top: 25vh;
}

.userNotAvailable h2 {
  color: #ff5a60;
  font-size: 3em;
}

.userNotAvailable p{
  font-size: 1.5em;
}

@media(min-width: 576px){
  .userNotAvailable .row .col-sm-6:last-child {
    text-align: left;
  }
}