#thumb {
  height: 150px;
  border: 1px solid #000;
  margin: 4px;
}
.upload-photo-dropzone {
  background-color: #f7f7f7;
  text-align: center;
  border: 3px dashed var(--leit-pink);
  box-shadow: #ddd 3px 5px 10px;
}
.upload-photo-dropzone div {
  height: 100%;
}
