.curador-contact-search .btn-group > button, .curador-contact-search .btn-group:last-child, .curador-contact-search .btn-group input, .curador-contact-search .btn-group > select {
    display: inline-block;
    width: auto;
    font-size: 1em;
  }
  
  .curador-contact-search .btn-group button{
    vertical-align: baseline;
  }
  
  .curador-contact-search .btn-group select, .curador-contact-search .btn-group input {
    border-radius: 0;
  }
  
  .curador-contact-search .btn-group .leftSelect {
    border-radius: 4px 0 0 4px;
  }