/* .photo:nth-child(2n){
    grid-column-end: span 2;
    grid-row-end: span 1;
}
.photo:nth-child(3n){
    grid-column-end: span 1;
    grid-row-end: span 2;
} */

.photo .info{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    background-color:black;
    color: white;
    opacity: 0.5;
    visibility: hidden
}

.photo:hover .info{
    visibility: visible
} 

.menu-list{
    display: inline-block;
    margin: 1em;
    border: 1px solid black;
    padding: 10px;
}

.menu-list a{
    color: #ff5a60;
    text-decoration: none; /*link no tiene subraya*/
    display: block;
}

li.menu-list:hover .menu-sub{
    display: block;
}

.menu-sub{
    position: absolute;
    background: #ffffff;
    display: none; /*no se muestra hasta hover*/
    margin-top: 1em;
    padding: 1.2em;
    border: 1px solid rgb(210,214,218); /*mio*/
    box-shadow: 0 0 15px 0 rgba(0,0,0,.20); /*mio*/
    box-sizing: border-box;
}
.menu-sub#cat{
    width: 18em; /*mio*/
    height: auto; /*mio*/
}
.menu-sub#sort{
    width: 15em; /*mio*/
    height: auto; /*mio*/
}
.menu-sub:after{ /*triangulo*/
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 1px solid rgb(210,214,218);
    border-right: 0px solid rgb(210,214,218);
    border-bottom: 0px solid rgb(210,214,218);
    border-left: 1px solid rgb(210,214,218);
    top:0%;
    left: 15%;
    margin-left: -10px;
    content: ''; 
    transform: rotate(45deg);
    margin-top: -10px;
    background: #ffff;
}

.menu-sub ul{
    margin:0;
    padding:0;
    list-style: none;
}

.menu-sub#cat ul{
    text-align: left;
}

.menu-sub#sort ul{
    text-align: center;
}

/* .menu-sub a {
    padding: 0;
    color: #97878f;
    text-decoration: none;
    display: block;
    margin-bottom: .35em;
} */

.menu-sub a:hover{
    background: #f2f2f2;
}
