.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr)); /*repeat(veces, tamaño)*/
    grid-template-rows: repeat(auto-fit, minmax(150px,1fr));
    grid-auto-columns: minmax(150px,1fr);
    grid-auto-rows: minmax(150px,1fr);
    grid-auto-flow: row dense;
    grid-gap: 10px;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
}
.photo:hover{
    background-color: chartreuse; /*no sirve en los nth-child*/
}
.photo:nth-child(5n){
    background-color: blue;
    grid-column-end: span 1;
    grid-row-end: span 2;
}
.photo:nth-child(3n){
    background-color: yellow;
    grid-column-end: span 2;
    grid-row-end: span 1;
}

.galleryMenu{
    background-color: white;
    border-bottom: 1px solid rgb(210,214,218);
},

&.NavItem{
    color: red
}