a{
    outline: none;
}
.n.navbar{
    padding: 3px 16px;
}
.navbar .navbar-nav .active{
    font-size: 18px;
    font-weight: 600px;
}
.navbar-nav>li>a{
    font-size: 14px;
    font-weight: 400px;
    outline: none;
}
.active{
    opacity: 1;
}
.navbar-nav .nav-item .nav-link{
    transition: 0.3s ease;
}
.navbar-nav .nav-item .nav-link:hover{
    transition: 0.3s ease;
    font-size: 18px;
}
.navbar-dark .navbar-toggler:hover, .navbar-dark .navbar-toggler:active{
    background-color: rgba(255,255,255,0.2);
    transition: 0.3s ease;
}
button:focus{
    outline: none;
    background-color: rgba(255,255,255,0.1);
}