.header {
    background: #f8f8f8;
    padding: 15px;
    overflow: auto;
}
.header img {
    width: 100px;
    height: auto;
    float: left;
}
.header h1 {
    font-size: 20px;
    position: relative;
    top: 26px;
    left: 10px;
}