.slick-prev::before, .slick-next::before{
  color: var(--leit-pink);
}

.LandingPhoto p, .LandingPhoto h3{
  color: white;
  text-shadow: black 3px 2px 5px ;
}

.LandingPhoto h3{
  font-size: 4em;
  padding: 1em;
}

.LandingPhoto p{
  font-size: 2em;
  padding: 2em;
  background-color: rgba(213, 216, 219, 0.9);
}

h2.colTitle{
  font-size: 2.5em;
  font-weight: 700;
}

.missionDiv div{
  align-content: center;
  text-align: center;
  padding: 2em;
}

.missionDiv div img{
  margin: 1em 0;
}

.missionDiv .detailText, .missionDiv h2{
  text-align: left;
}

/* Future optimization ? */
.row div p.detailText{
  font-size: 1.3em;
}

.landing-container .row{
  margin-top: 2em;
  margin-bottom: 2em;
}

.landing-container .card-title {
  font-size: 1.3em;
  background-color: white;
  padding: 0.2em 1em;
}

.landing-container .card-body {
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  min-height: 200px;
  -o-transition: color 0.2s ease-out, background 0.5s ease-in;
  -ms-transition: color 0.2s ease-out, background 0.5s ease-in;
  -moz-transition: color 0.2s ease-out, background 0.5s ease-in;
  -webkit-transition: color 0.2s ease-out, background 0.5s ease-in;
  /* ...and now override with proper CSS property */
  transition: color 0.2s ease-out, background 0.5s ease-in;
}

.landing-container .card-body:hover {
  background-color: var(--leit-pink);
  background-blend-mode: soft-light;
  cursor: pointer;
}

.landing-background-1 {
  min-height: 75vh;
  max-height: 800px;
  background-image: url("/assets/frontis_background.jpg");
  background-size: cover;
  background-color: var(--leit-pink);
  background-blend-mode: multiply;
}

.landing-background-2 {
  min-height: 60vh;
  max-height: 800px;
  background-image: url("/assets/bcentralteam.jpg");
  background-size: cover;
  background-color: var(--leit-pink);
  background-blend-mode: multiply;
  background-position-y: top;
}

.landing-background-2 .container{
  padding-top: 20vh;
  color: white;
  text-shadow: black 3px 2px 5px ;
}


.landing-presentation .row{
  padding-top: 30vh;
}

.landing-presentation-text{
  color: white;
  text-shadow: black 3px 2px 5px;
  font-size: 2em;
  display: block;
  text-align: right;
}

@media (min-width: 576px){

  .landing-title > div{
    padding: 1em;
    background-color: white;
    max-width: 300px;
    height: fit-content;
  }
  
  .landing-title h2{
    background-image: url("/assets/logo01.svg");
    text-indent: -9999px;
    background-repeat: no-repeat;
    /*background-size: 33%;*/
    height: 13vh;
    min-width: 100px;
  }
}