/* CSS Variable declaration */
:root {
  --leit-pink: #ff5a60;
  --leit-pink-disabled: #f39c9f;
  --leit-pink-hover: #e15454f0;
  --leit-gray: #777777;
  --leit-gray-disabled: #cfcccc;
  --leit-gray-hover: #616161;
  --leit-red: #eb2932;
  --leit-red-hover: #be1f27;
  --leit-yellow: #ffc107;
  --leit-yellow-hover: #e9b004;
  --leit-bg-gray: #e9ecef;
  --leit-modal-bg: #efefef;
}
html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
body {
  margin: 0;
  padding: 0;
}
[class*="primary"] {
  color: #fff;
  background-color: var(--leit-pink);
  border-color: var(--leit-pink);
}
[class*="secondary"] {
  color: #fff;
  background-color: var(--leit-gray);
  border-color: var(--leit-gray);
}
[class*="tertiary"] {
  color: #000;
  border-color: var(--leit-gray);
}
[class*="danger"] {
  color: #fff;
  background-color: var(--leit-red);
  border-color: var(--leit-red);
}
.progress-bar.progress-bar-animated.progress-bar-striped {
  background-color: var(--leit-pink);
}
.white-box {
  background-color: #fff;
  box-shadow: #ddd 3px 5px 10px;
  margin-bottom: 1.5em;
}
.parallax {
  /* The image used */
  /* Loaded on the other class */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
