.left {
  float: left;
}

ul.barra li {
  padding: 5px 10px;
}

h1 {
  background-image: url("/assets/logoExt.svg");
  text-indent: -9999px;
  background-repeat: no-repeat;
  /*background-size: 33%;*/
  height: 40px;
  min-width: 400px;
  margin-left: -9px;
}

.navbar-brand p {
  margin-bottom: -.3125rem;
}

.navbar-nav li.nav-item {
  font-size: 1.1em;
}

.navbar-nav .dropdown-menu.dropdown-menu{
  background-color: #e9ecef;
}

.navbar-nav .dropdown-menu.dropdown-menu .dropdown-item{
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
    .navbar-brand p{
        display: none;
    }

    h1 {
      background-image: url("/assets/logo01.svg");
      text-indent: -9999px;
      background-repeat: no-repeat;
      /*background-size: 33%;*/
      height: 55px;
      min-width: 200px;
    }
}

@media (min-width: 576px){
  .collapse.navbar-collapse{
    position: absolute;
    bottom: 0;
    right: 0
  }
}