.leftcol{
  padding-left: 0;
  padding-right: 0;
  border-top: 1px solid grey;
}


.navButton{
  color: #000000;
  padding: 1rem .75rem ;
  width: 100%;
  text-align: left;
  font-size:14px;
  margin:0px;
  background-color:#dceaf7;
  border-radius:0;
  display: inline-block;
  border:0px;
  border-bottom:1px solid rgba(0,0,0,0.05);
  //box-shadow: 2px 2px 4px rgb(156,158,159);
}

.navSpacer{
  padding: .375rem .75rem ;
  background-color:#cad8e6;
  border-bottom:1px solid rgba(0,0,0,0.05);
  font-size: 16px;
  font-weight: 400;
}

.navEnding{
  height: 50px;
  background-image: linear-gradient(#dceaf7, rgba(0,0,0,0));
}
