.upload-album-section {
  display: flex;
  height: auto;
  padding: 2px 10px 0px 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  background-color: #f7f7f7;
  border: 1px solid rgb(210, 214, 218);
  border-bottom: none;
}
.upload-album-section label {
  font-size: 18px;
}
.upload-album-button {
  font-size: 2em;
  color: var(--leit-pink);
  cursor: pointer;
}
.upload-album-section-content {
  visibility: visible;
  opacity: 1;
}
.upload-album-section-content.hide {
  margin-bottom: -15px;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: margin-bottom 0s 100ms, padding 0s 100ms, visibility 0s 100ms,
    opacity 100ms linear;
}
.CCName {
  margin-left: 0.5em;
}
