.collection-view-description {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  box-shadow: #ddd 3px 5px 10px;
}
.collection-view-description p {
  color: black;
  font-style: italic;
  font-size: 2em;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}
.collection-view-description::before {
  content: "\201c";
  font-size: 100px;
  color: gray;
  display: block;
  margin-bottom: -80px;
  margin-top: -20px;
  text-align: left;
}

/* Component */
.timeline {
  position: relative;
  margin: 20px auto;
  padding: 40px 0;
  width: 100%;
}
/* Vertical line*/
.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 95%;
  background-color: #c5c5c5;
}
/* Container*/
.timeline .collection-view-container {
  margin: 0;
  padding: 0;
}
/* Elements */
.timeline .collection-view-container .collection-view-element {
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
  margin-bottom: 10%;
}
.timeline .collection-view-container .collection-view-element:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}
.timeline .collection-view-container .collection-view-element:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}
/* Photo */
.collection-view-photo {
  padding-bottom: 20px;
}
/* Info */
.timeline .collection-view-container .collection-view-element:nth-child(odd) .collection-view-info{
  position: absolute;
  top: 40%;
  right: -50%; /*-280px%*/
  width: 412px;
  margin: 0;
  padding: 8px 32px;
  color: #000;
  border-radius: 18px;
  box-shadow: 0 0 0 3px var(--leit-gray-disabled);
  text-align: left;
}
.timeline .collection-view-container .collection-view-element:nth-child(even) .collection-view-info{
  position: absolute;
  top: 40%;
  left: -50%;
  width: 412px;
  margin: 0;
  padding: 8px 32px;
  color: #000;
  border-radius: 18px;
  box-shadow: 0 0 0 3px var(--leit-gray-disabled);
  text-align: right;
}
/* Time marker */
.timeline .collection-view-container .collection-view-element:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 50%;
  right: -6px;
  width: 10px;
  height: 10px;
  background-color: var(--leit-pink);
  border-radius: 50%;
  box-shadow: 0 0 0 3px var(--leit-pink-disabled);
}
.timeline .collection-view-container .collection-view-element:nth-child(even):before {
  content: "";
  position: absolute;
  top: 50%;
  left: -4px;
  width: 10px;
  height: 10px;
  background-color: var(--leit-pink);
  border-radius: 50%;
  box-shadow: 0 0 0 3px var(--leit-pink-disabled);
}