.home-background .react-photo-gallery--gallery{
  background-color: white;
}

.home-background{
  position: relative;
  min-height: 75vh;
}

.home-background::before {
  position: absolute;
  background-image: url(/assets/frontis_background.jpg);
  background-color: var(--leit-modal-bg);
  background-blend-mode: luminosity;
  height: 100%;
  width: 100%;
  content: "";
  left: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
}

.home-gallery-menu {
  margin: 0 auto;
  border-bottom: 1px solid rgb(210,214,218);
  background: white;
  position: sticky;
  top: calc(1em + 40px + 25px);
  z-index: 2;
}

.home-gallery-container {
  width: 100%;
  text-align: center;
  padding-top: 2em;
}

.home-filters-containers {
  padding-top: 1em;
  display: flex;
  align-items: left;
  vertical-align: middle;
  flex-direction: row;
}

.home-category-filter{
  width: 38em;
}

.home-tags {
  color: white;
  border-radius: 10px;
  background-color: #9a9e9d;
  margin: 2px;
  padding: 4px 12px 4px 12px;
}

@media (min-width: 768px){
  .home-category-filter{
    width: 30em;
  } 
}