.curador-donut-chart {
  display: inline-block;
}
.leftcol {
  padding: 0;
  overflow: hidden;
}
.navButton {
  color: #000000;
  margin: 0px;
  padding: 0 60px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: left;
  font-size: 14px;
  background-color: white;
  border-radius: 0;
  display: inline-block;
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.navButton:hover {
  line-height: 60px;
  border: none;
  border-right: var(--leit-gray) solid 3px;
  background-color: var(--leit-gray-disabled);
}

.curador-filter-card-img {
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 150px;
  max-height: 300px;
  background-color: black;
  background-position: center;
}

@media (min-width: 576px) {
  .leftcol.col-sm-2 {
    position: sticky;
    top: calc(1em + 64px);
    height: fit-content;
  }
}
